<!DOCTYPE html>
<html>

<head>
    <title>Tesla's Diary</title>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <link rel="stylesheet" href="../../../css/tufte.css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>

<body>
    <header>
        <nav class="group">
            <a href="http://www.teslasdiary.com"><h2 style="text-align:left;float:left;">Tesla's Diary</h2></a>
            <a href="http://www.teslasdiary.com/about.html"><h2 style="text-align:right;float:right; margin-right:20%" class='no-print'>About</h2></a>
        </nav>
    </header>
    <br>
    
    <h1>{{title}}</h1>
    <p class="subtitle">By {{authors}}</p>
    <content class="mn-demo">
        <p>
        {{{description}}}</p>
        
        <p><a href="http://www.arxiv.org">Donate to arxiv.org</a></p>
        <p><a target="_blank" href="{{link_pdf}}" class='no-print'>Download</a>
        </p>
        <p><a target="_blank" href="{{link}}">Original</a>
        </p>
    </content>
    <br>
    <br>
    <br>
</body>

</html>